/* Wildcard to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Login */
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-container {
    background-color: #EFEFEF;
    padding: 10px 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
}

/* Main */
#taskname-container {
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
    margin: 4px 8px;
    padding: 4px 8px;
}

#taskname {
    flex-grow: 1;
}

#edit {
    padding: 4px 8px;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
    margin: 4px 8px;
    padding: 4px 8px;
}

#timer {
    font-size: 40px;
}

#timer-container button {
    padding: 4px 8px;
}

#button-container {
    display: flex;
    flex-direction: row;
}

#history-container {
    margin: 4px 8px;
}

.history-item {
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
    padding: 4px 8px;
    justify-content: space-between;
    margin: 10px 0;
}

.tab {
    overflow: hidden;
    background-color: #EFEFEF;
    margin: 4px 8px;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    padding: 4px 8px;
  }

  .tabcontent {
    display: none;
    padding: 4px 8px;
  }